@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

body {
  font-family: 'Inter', system-ui, sans-serif;
  background: linear-gradient(135deg, #071B2C 0%, #1177D1 100%);
  color: #F6FAFF;
}

a {
  color: #06F3B8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
